<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289450018809-jol2if9dic1pted4ujndh5faajsv8c5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289450018809-jol2if9dic1pted4ujndh5faajsv8c5s</string>
	<key>API_KEY</key>
	<string>AIzaSyALvP-e5y5K_rDmR_NGffv_a_NqYr1qLjE</string>
	<key>GCM_SENDER_ID</key>
	<string>289450018809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.finplan.finplan</string>
	<key>PROJECT_ID</key>
	<string>finplan-925b9</string>
	<key>STORAGE_BUCKET</key>
	<string>finplan-925b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289450018809:ios:5cff7a2e9b069dde57df28</string>
</dict>
</plist>